<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farida.fareda.gazy3aqlk">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activitiess.Splash"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitiess.ListActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Activitiess.ModifyActivity"
            android:label="@string/app_name"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".Activitiess.AddActivity"
            android:label="@string/app_name"
            android:theme="@style/DialogTheme" />
        <activity android:name=".Activitiess.MainActivity" />
        <activity android:name=".Activitiess.UserActivity" />
        <activity
            android:name=".Activitiess.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Activitiess.AdmainMainActivity" />
        <activity android:name=".Activitiess.Details" />
        <activity android:name=".Activitiess.AboutUs"></activity>
    </application>

</manifest>